:root {
  --section-vertical-padding: 94px;
  --main-font-family: Roboto, sans-serif;
  --logo-font-family: Raleway, sans-serif;
  --bcg-color: #ffffff;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --primary-text-color: #212121;
  --page-bcg-color: #e5e5e5;
  --our-team-bcg-color: #f5f4fa;
  --header-logo-color: #000000;
  --hero-footer-bcg-color: #2f303a;
  --link-color: #afb1b8;
  --bg-footer-social-link: rgba(255, 255, 255, 0.1);
  --address-link-color: rgba(255, 255, 255, 0.6);
  --portfolio-cards-bg-color: rgba(33, 150, 243, 0.9);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  font-family: var(--main-font-family);
  color: var(--primary-text-color);
  font-size: 14px;
  background-color: var(--bcg-color);
}
/* header*/
.header {
  display: flex;
  align-items: center;
  border: 1px solid #ececec;
}
.navigation {
  display: flex;
  align-items: center;
}
.header-logo {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: var(--logo-font-family);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-color);
}
.header-logo-part {
  color: var(--header-logo-color);
  font-family: var(--logo-font-family);
}
.nav-list {
  display: flex;
  margin-left: 93px;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);

  position: relative;

  transition: color var(--duration) var(--timing-function);
}
.current {
  color: var(--accent-color);
}
.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;

  left: 0;
  bottom: -2px;

  background-color: var(--accent-color);
  color: var(--accent-color);
  border-radius: 2px;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.header-contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);

  transition: color var(--duration) var(--timing-function);
}
.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}
.contacts-link:hover,
.contacts-link:focus {
  fill: var(--accent-color);
}
/* hero */
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--hero-footer-bcg-color);

  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Hero-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--bcg-color);
}
/* button */
.button-primary {
  color: var(--bcg-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  transition: background-color var(--duration) var(--timing-function);
}
.button-primary:hover,
.button-primary:focus {
  background-color: var(--secondary-accent-color);
}

/* Section */
.section {
  padding-top: var(--section-vertical-padding);
  padding-bottom: var(--section-vertical-padding);
}
/* features */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features {
  background-color: var(--bcg-color);
}
.features-list {
  display: flex;
}
.features-item {
  margin-bottom: 30px;
}
.features-item + .features-item {
  margin-left: 30px;
}
.background-icon {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 270px;
  height: 120px;

  background-color: var(--our-team-bcg-color);
}

.features-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-text {
  width: 270px;
  color: var(--secondary-text-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* about */
.about {
  background-color: var(--bcg-color);
  padding-top: 0px;
}
.about-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.about-list {
  display: flex;
  margin-right: -30px;
}
.about-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
}
.about-item-text {
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bcg-color);
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.thumb {
  position: relative;
}
/* our team */
.team {
  background-color: var(--our-team-bcg-color);
}
.team-title {
  margin-bottom: 50px;
  text-align: center;

  font-size: 36px;
  line-height: 1.16;
}
.team-list {
  display: flex;
  margin-right: -30px;
}
.team-item {
  flex-basis: (100% / 4 - 30px);
  margin-right: 30px;

  background-color: var(--bcg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-name-text {
  padding: 30px 32px;
}
.team-name {
  margin-bottom: 10px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.team-text {
  text-align: center;
  margin-bottom: 16px;

  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.18;
}
.social-list {
  display: flex;
  justify-content: center;
}
.social-item + .social-item {
  margin-left: 10px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--link-color);
  transition: color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function);
}
.social-icon {
  fill: currentColor;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--bcg-color);
}
/* regular clients */
.clients-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.clients-list {
  display: flex;
  justify-content: space-between;
}
.clients-item {
  flex-basis: (100% / 6 -30px);
}
.clients-item + .clients-item {
  margin-left: 30px;
}
.clients-link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--link-color);
  border-radius: 4px;
  color: var(--link-color);
  transition: color var(--duration) var(--timing-function),
    border var(--duration) var(--timing-function);
}
.clients-icon {
  fill: currentColor;
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}
/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-footer-bcg-color);
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  display: block;
  color: var(--accent-color);
  font-family: var(--logo-font-family);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-bottom: 20px;
}
.footer-logo-part {
  display: inline-block;
  color: var(--bcg-color);
  font-family: var(--logo-font-family);
}
.logo-address {
  min-width: 231px;
  margin-right: 70px;
}
.address-item {
  margin-bottom: 9px;
}
.address-item:last-child {
  margin-bottom: 0;
}
.address-link-map {
  color: var(--bcg-color);
  text-decoration: none;
  font-style: normal;
  transition: color var(--duration) var(--timing-function);
}
.address-link {
  font-style: normal;
  line-height: 1.71;
  color: var(--address-link-color);
  text-decoration: none;
  transition: color var(--duration) var(--timing-function);
}
.address-link-map:hover,
.address-link-map:focus,
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
/* join-social */
.join-text {
  margin-bottom: 20px;
  line-height: 1.14;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bcg-color);
}
.join-social-list {
  display: flex;
  justify-content: center;
}
.join-social-item + .join-social-item {
  margin-left: 10px;
}
.join-social-link {
  background-color: var(--bg-footer-social-link);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--duration) var(--timing-function);
}
.join-social-link:hover,
.join-social-link:focus {
  background-color: var(--accent-color);
}
.join-social-icon {
  fill: var(--bcg-color);
}
/* subscribe */
.mail-subscribe {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.mail {
  margin-left: 93px;
}
.mail-input {
  width: 358px;
  height: 50px;
  background-color: var(--hero-footer-bcg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.subscribe {
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-subscribe {
  color: var(--bcg-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 28px 10px 29px;
  transition: background-color var(--duration) var(--timing-function);
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
}
.subscribe-icon {
  margin-left: 10px;
}
.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(47, 48, 58, 0.4);
  position: fixed;
  top: 0;
  opacity: 1;
  visibility: visible;
  transition: opacity var(--duration) var(--timing-function),
    visibility var(--duration) var(--timing-function);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal {
  min-width: 528px;
  min-height: 581px;
  background-color: var(--bcg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform var(--duration) var(--timing-function),
    opacity var(--duration) var(--timing-function);
}

.modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--bcg-color);
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transform: scale(1);
  transition: transform var(--duration) var(--timing-function);
  color: var(--accent-color);
}
.modal-button:hover,
.modal-button:focus {
  transform: scale(1.2);
  fill: currentColor;
}
/* form */
.form {
  padding: 40px;
}

.form-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;

  margin-bottom: 12px;
}
.form-field {
  display: flex;
  flex-direction: column;
  border: none;
  margin-bottom: 10px;
}
.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}
.form-input-icon {
  position: relative;
  margin-bottom: 20px;
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}
.form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}
.form-input:focus {
  outline: 1px solid var(--accent-color);
}
.form-input:focus + .form-icon {
  fill: var(--accent-color);
}
.form-textarea {
  margin-top: 4px;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.form-textarea:focus {
  outline: 1px solid var(--accent-color);
}
.policy-checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.policy-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.policy-icon {
  border: 0.2px solid var(--primary-text-color);
  border-radius: 2px;
  fill: var(--bcg-color);
  transition: border-color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function);
}
.checkbox:checked + .policy-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.policy-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-left: 7px;
}
.policy-link {
  color: var(--accent-color);
}
.button-send {
  width: 200px;
  color: var(--bcg-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  transition: background-color var(--duration) var(--timing-function);
}
.button-send:hover,
.button-send:focus {
  background-color: var(--secondary-accent-color);
}
/* ----------------------styles for portfolio page---------------------- */
.portfolio-filtres-list {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-filtres-item {
  margin-right: 8px;
}

.button-secondary {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: 0;
  border-radius: 4px;
  color: var(--primary-text-color);
  background-color: var(--our-team-bcg-color);
  font-family: inherit;
  cursor: pointer;
  transition: color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function),
    box-shadow var(--duration) var(--timing-function);
}
.button-secondary:hover,
.button-secondary:focus {
  color: var(--bcg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn-current {
  color: var(--bcg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;

  background: #ffffff;
}

.portfolio-link {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--duration) var(--timing-function);
}
.portfolio-link:hover,
.portfolio-link:focus {
  border: 0;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-cards {
  position: relative;
  overflow: hidden;
}
.portfolio-top-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(100%);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--bcg-color);
  background-color: var(--portfolio-cards-bg-color);
  transition: transform var(--duration) var(--timing-function);
}
.portfolio-link:hover .portfolio-top-text,
.portfolio-link:focus .portfolio-top-text {
  transform: translateY(0);
}
.portfolio-container {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
.portfolio-title {
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
